@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bgcolor:#000;
    --textoblanco:#fff;

}
body{
    background-color:var(--bgcolor);
    font-family: Poppins;
    color: var(--textoblanco);
    font-weight: 500;
    line-height: 1.6;
    position: relative;
    background-size: cover;
    background-position: center;
    height:100%;
    width: 100%;
}

.cabecera{
    position: fixed;
    right:30px;
    bottom: 0;
    z-index:3;
    display:flex;
    align-items: center;
    height:calc(100vh-200px);
    top: 70px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}

.cabecera ul .icon-menu{
    margin: 0;
    padding: 0;
}

.icon-box{
    width:50px;
    height:50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
    background:#2b2a2a;
    border-radius: 50%; 
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icon1{
    position: absolute;
    left:0;
    right: 0;
    margin:auto;
    display:block;
    text-align: center;
    top: 15px;
    font-size: 19px;
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
}
.icon-box:hover {
    background-color: #ffb400;
}

a{
    text-decoration: none !important;
    color: var(--textoblanco);
}

a:hover{
    text-decoration: none !important;
}

.enlacenav{
    display:flex;
    
}

.enlacenav:hover{
    display: flex;
    /*background-color:#ffb400;*/
    width: 80px;
    height: 50px;
    color: var(--textoblanco);
    padding: 0;
    border-radius: 50%;
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
}

.color-bloque1{
    position: fixed;
    height:200%;
    width: 100%;
    left: -83%;
    top: -50%;
    background-color: #ffb400;
    transform:rotate(-15deg);
    -webkit-transform:rotate(-15deg);
    -moz-transform:rotate(-15deg);
    -ms-transform:rotate(-15deg);
    -o-transform:rotate(-15deg);
}

.imagencontenedor{
    background-image:url(../img/gato1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: calc(100vh - 80px);
    width: 400px;
    z-index: 111;
    border-radius: 30px;
    left: 80px !important; 
    top: 80px !important;
    margin-top: 40px;
    margin-left: 20px;
    box-shadow: 0 0 7px rgb(51 49 49 / 90%);

}

.text-left1{
    text-align: left;
    padding-left: 150px;
    margin-top: 55px;
}

.soy{
    font-size: 51px;
    line-height: 62px;
    font-weight: 700;
    margin: 70px 0 10px !important;
    position: relative !important;
    padding-left: 70px !important;
    color: #ffb400;
}

.soy::before{
    content:'-';
    position: absolute;
    left: 0;
    
    height: 4px;
    width: 40px;
    border-radius: 10px;
}

.progra{
    color: var(--textoblanco);
}

.descrip1{
    font-family: Open Sans;
    margin: 30px 200px 28px 0px;
    font-size: 16px;
    line-height: 35px;
    color: var(--textoblanco);
}

.acercademi{
    padding-left: 15px;
   
    border-color: #ffb400 !important;
    border: 1px solid;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-decoration: none;
}

.fa-arrow-right{
    background-color:#ffb400 ;
   padding:20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.acercademi:hover{
  text-decoration:none;
  color: var(--textoblanco);
  background: #ffb400;
  display: inline-block;
 
}


.dedcription-btn {
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background-color:transparent;
    border-color: #ffb400 !important;
    border: 1px solid ;
    color: var(--textoblanco);
    text-align: center;
    font-size: 18px;
    padding: 9px 0;
    transition: all 0.3s;
    padding-right: 40px;
    margin: 20px 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
  }
  .dedcription-btn .btn-icon {
    background-color: #ffb400;
    width: 50px;
    height: 47px;
    float: right;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    right: 0px;
    top: 0px;
    transition: all 0.3s;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
}
  .name-descripeion {
    position: relative;
    z-index: 9999;
  }
  /** css de boton ACERCA DE MI ***/
  .btn-icon::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .dedcription-btn:hover .btn-icon {
    width: 100%;
    border-radius: 30px;
  }
  .dedcription-btn:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
  }
  .btn-icon i {
    position: absolute;
    right: 16px;
    top: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
  .dedcription-btn:hover {
    color: #fff!important;
  }

  .hover-box {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  /**fin de css acerca de mi **/

  .menu-text3{
        display:none;
        height:50px;
        opacity: 0 ;
        width:180px;
        align-items: center;
        position: relative;
        text-align: center;
        right:130px;
        padding-left: 35px;
        white-space: nowrap;
        overflow: hidden;
        

        
        transition: 200ms linear;
        /*transition-delay: 250ms;*/
        
        -webkit-transition: 200ms linear;
        -moz-transition: 200ms linear;
        -ms-transition: 200ms linear;
        -o-transition: 200ms linear;*/
}

li a:hover .menu-text3{
    opacity: 1;
    color: var(--textoblanco);
    background:#ffb400;
    display:flex;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
   
}

.foto2{
    background-image:url(../img/gato1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 250px;
    width: 250px;
    z-index: 111;
    border-radius: 50%;
    left: 80px !important;
    top: 80px !important;
    box-shadow: 0 0 9px rgb(158 134 134 / 90%);
    margin-top: 40px;
    margin-left: auto !important;
    margin-right: auto !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.personalinfo{
    margin-top: 90px;
    display: flex;
    font-family: Poppins;
}

.info-span{
    font-weight: 700;
    font-size: 26px;
    letter-spacing:8px;
}

li{
    list-style: none;
}
.personal-info{
    list-style: none;
    padding-left:0px;
}

.title-info{
    opacity: .8;
    text-transform: capitalize;
    display: inline-block;
}

.title-info2{
    display: inline-block !important;
    font-weight: 600;
}
.with-margin{
    margin-bottom: 30px;
}
.personal-info .li-personal{
    margin-bottom: 20px;
}
.box-stats{
    padding:20px 30px 25px 40px;
    border-radius: 5px;
    border:1px solid #252525;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.poppins-fonts{
    color:#ffb400
}

.box-stats h3{
    position: relative;
    display: inline-block;
    margin: 0;
    font-size:45px;
    font-weight: 700;
}

.box-stats h3:after{
   content: "+";
   position: absolute;
   right:-25px;
   font-size: 33px;
   font-weight: 300;
   top: 2px;
}

.expe1{
    margin-left: 10px;
}
.esto{
    display: flex;
}

.linea-1{
    height:2px;
    width: 45px;
    background:#252525;
    margin-top:12px;
}
.fa-cloud-download-alt{
    right:8px !important;
}
.skills1{
    margin-top: 40px;
    margin-bottom: 40px;
    display:block;
}
.tecno1{
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.habilidades1{
   display:flex;
   margin-bottom: 100px;
}

.ess1{
    display:block !important;
}
.cajanom{
    height:150px;
}

.joda1{
    display: table;
    margin-left:60px;
    margin-top: 210px;
    font-size:16px;
    font-weight: 100;
}

.joda2{
    display: table;
    margin-left:20px;
    margin-top: 210px;
    font-size:16px;
    font-weight: 100;
}

.wordpress{
    margin-left: 10px !important;
}

.jquery{
    margin-left: 40px !important;

}

.react{
    margin-left: 50px !important;

}

.expe1{
    margin-top: 40px;
    display: flex;
}

.icon-exp{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: #ffb400;
}

.item101{
    color: #fff;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}

.timeline1 .expe1 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.timeline1 .expe1 li{

        position: relative;
        padding: 0 20px 0 60px;
        margin: 0 0 50px;
    
}

.timeline1 h5{
    font-size: 18px;
    margin: 7px 0 10px;
}

.timeline1 .place{
    opacity: .8;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding-left: 26px;
}

.timeline1 .place::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 7px;
    top: 9px;
    opacity: .8;
}

.timeline1 p{
    margin: 0;
    color: #eee;
    font-size: 14px;
}

.timeline1 li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    border-left: 1px solid #333;
}
.conte-contact{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top:70px;
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 50px;
    color: #ffb400;
    letter-spacing: 1px;
}

.conta100{
    color: #fff;
    margin-right: -10px;
}

.esss1{
    font-weight: 600;
    color: #ffb400;
}

.contact-custom1{
    font-weight: 600;
    padding-left: 70px;
    line-height: 21px;
    padding-top: 5px;
    position: relative;
}
.position-a{
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 35px;
    color: #ffb400;
    
}
ul{
    padding-left: 0px !important;
}
ul .social{
   
    list-style: none;
}

.social li{
    display: inline-block;
}

.social li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    transition: .3s;
    font-size: 17px;
    margin-right: 25px;
    background: #2b2a2a;
    border-radius: 50%;
}

.social li a:hover{
    background:#ffb400;
}

.contactform input[type="text"], .contactform input[type="email"]{
    border: 1px solid #111;
    width: 100%;
    background: #252525;
    color: #fff;
    padding: 11px 26px;
    margin-bottom: 30px;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
}

input, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.contactform textarea{
    border: 1px solid #111;
    background: #252525;
    color: #fff;
    width: 720px;
    padding: 12px 26px;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
}

.btn70{
    width: 250px !important;
   
}

/******PORTAFOLIO*******/
p .label {
    width: 100%;
    text-align: center;
    color: #80919b;
    font-size: 12px;
    line-height: 20px;
}

.projectList {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px;
}
.projectList li {
    width: 25%;
    float: left;
}
@media only screen and (max-width: 1023px) {
    .projectList li {
        width: 33.333%;
   }
}
@media only screen and (max-width: 779px) {
    .projectList li {
        width: 50%;
   }
}
@media only screen and (max-width: 539px) {
    .projectList li {
        width: 100%;
   }
}
.projectList li .projectWrap {
    width: 100%;
    float: left;
    padding: 100% 0 0 0;
    position: relative;
}
.projectList li .projectWrap .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    overflow: hidden;
}
.projectList li .projectWrap .inner .project {
    width: 100%;
    height: 100%;
    float: left;
    background: #000;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 1px rgba(255, 180, 0, 1);
    padding: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projectList li .projectWrap .inner .project .innerWrap {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 1px;
    -webkit-mask-image: url(data:image/png;
   base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.projectList li .projectWrap .inner .project .innerWrap .image {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    border-radius: 1px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}
.projectList li .projectWrap .inner .project .innerWrap .image:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1px;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(56, 72, 84, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.projectList li .projectWrap .inner .project .innerWrap .metaWrap {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0 10px 10px;
    transform: translate3d(0px, 20px, 0px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.projectList li .projectWrap .inner .project .innerWrap .meta {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projectList li .projectWrap .inner .project:hover {
    transform: translate3d(0px, -5px, 0px);
    box-shadow: 0px 5px 8px 3px rgba(56, 72, 84, 0.2);
}
.projectList li .projectWrap .inner .project:hover .image {
    transform: scale(1);
}
.projectList li .projectWrap .inner .project:hover .image:before {
    opacity: 1;
}
.projectList li .projectWrap .inner .project:hover .metaWrap {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}
.projectList li .projectWrap .inner .project:hover .meta h5 {
    transform: scale(1);
}
.meta h5{
    color:#000;
    text-align: center;
}

.meta p{
    color:#000;
    text-align: center;
    margin-bottom: 0 !important;
}
/************/