.ProgressBar, .ProgressBar-contentCircle {
    display: flex;
    height: 210px;
    position: absolute;
    width: 210px;
}
.ProgressBar-circle, .ProgressBar-background {
    fill: none;
    stroke: #ffb400;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    position: relative;
    z-index: 10;
}
.ProgressBar-background {
    stroke: #423535;
    stroke-width: 4;
    z-index: 0;
}
.ProgressBar-percentage {
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 100%;
    display:inline;
    vertical-align: middle;
    font-weight: 600;
    padding-top: 60px !important;
}
/************************/
/* structure de la page */
/************************/
.Content {
    height: 270px;
    margin: -135px 0 0 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.List {
    display: flex;
    list-style: none;
    margin: 10px auto;
    padding: 0px;
    width: 840px;
    height: 210px;
}
.List-item {
    float: left;
    width: 210px;
}
.Title {
    text-align: center;
}

/*******TIMELINE INICIO********/


/*********TIMELINE FIN**************/